
 .yellow {
  background-color: yellow;
 
 }
 .red{
  background-color: red;
  color:white;
 }
 .green{
  background-color: green;
  color:white;
 }
 .black{
  background-color: black;
  color:white;
 }
